:root {
    --background-color: pink;
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    justify-content: space-between;
    height: 100%;
}

* {
    text-align: center;
}

.title {
    background-color: peachpuff;
    border-radius: 10%;
    border-color: aqua;
    border-width: 4rem;
    margin-top: 20rem;
    line-height: 300px;
}

.url-box {
    padding-top: 200px;
    background-color: blueviolet;
    margin-top: 20rem;
    border-color: springgreen;
    border-width: 5px;
    border-radius: 10%;
}