

body {
  display: flexbox;
  align-items: center;
  background-color: #ffb8ee;
  padding-top: 10px;
  font-family: Ubuntu;
}

h1, h6 {
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: #4b4b4b;
  margin: 5px;
  font-size: 10em;
  color: #B8FFC9;
  text-align: center;
}

h6 {
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #4b4b4b;
  font-size: 2.5em;
}

.logo {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

nav {
  margin-top: 10em;
  display: flexbox;
  align-items: center;
  text-align: center;
}

a {
  color: #aa78b3;
  -webkit-text-stroke-color: #4b4b4b;
  -webkit-text-stroke: 1px;
}