Mullvad VPN/
Signal/
jj/
pulse/
rc/
keepassxc/
librewolf/
fontforge/
fish/completions/
easyeffects/
dconf/
pavucontrol.ini
mimeapps.list
QtProject.conf
Thunar/
emacs/
vesktop/
nicotine/
htop/
ristretto/
xfce4/
gtk-3.0/bookmarks
fish/conf.d
fish/fish_variables
