dconf/
goa-1.0/
ibus/
evolution/
pulse/
gtk-3.0/
abrt/
gnome-session/
nautilus/
gtk-4.0/
enchant/
.git/
Ferdium/
IPFS/
Desktop/
Kvantum/
PCSX2/
PulseEffects/
Session/
SpeedCrunch/
anthy/
autostart/
balena-etcher-electron/
blender/
brinkervii/
calibre/
cava/
cef_user_data/
corectrl/
eog/
epiphany/
flameshot/
font-manager/
fontconfig/
gnome-boxes/
gnome-control-center/
godot/
gtk-2.0/
htop/
inkscape/
kde.org/
kdeconnect/
keepassxc/
kraxarn/
libfm/
libreoffice/
libvirt/
lutris/
lxqt/
lxsession-default-apps/
menus/
monero-project/
obsidian/
paradox-launcher-v2/
pcmanfm/
procps/
pupgui/
qBittorrent/
qt5ct/
ranger/
speek/
spicetify/
spotify/
syncthing/
systemd/
totem/
uad/
vlc/
xviewer/
yelp/
ulauncher/
arduino-ide/
emacs/
doom/
steamtinkerlaunch/
freeplane/
cni/
toolbox/
OpenRCT2/
fluent-reader/
Logseq/
openttd/
btop/
balena-etcher/
MangoHud/
koodo-reader/
rpcs3/
lxsession/
anytype/
wava/
FreeTube/
texstudio/
simple-update-notifier/
Miru/
mirage/
Google/
Android/
Open/
Source/
Project/
StardewValley/
matplotlib/
OpenRGB/
dosbox/
AquaStar/
Epic/
nvimAstro/
lapce-stable/
unity3d/
go/
